*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: lightgrey;
}

header{
    background-color: white;
}

.logo{
    padding: 10px 0px 0px 15px;
}

.logo-title{
    display: inline-block;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 50px auto;
    width: 1000px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.btn{
    height: 50px;
    
}

main{
    margin-left: 50px;
}

.btn-menu{
    margin-top: 15px;
    width: 100px;
}

.addT{
    background-color: rgb(80, 182, 250);
    border: 2px solid rgb(80, 182, 250);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.addS{
    background-color: white;
    color: grey;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 5px;
}

.list{
    list-style: none;
    line-height: 40px;
    margin-top: 20px;
}

.tag{
    color: white;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
}

.editorial{
    background-color: rgb(80, 182, 250);
}

.goals{
    background-color: blueviolet;
}

.recruiting{
    background-color: rgb(71, 241, 148);
}

.Mobile{
    background-color: rgb(248, 154, 30);
}

.Web{
    background-color: rgb(209, 24, 153);
}

.sales{
    background-color: rgb(84, 252, 62);
}

.checkgreen{
    color: green;
    border: 1px solid green;
    background-color: white;
    border-radius: 10px;
}

.crossred{
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
}